<form [formGroup]="addCourseForm" (ngSubmit)="createCourse(addCourseForm)">
    <div class="form-control">
        <label>
            Name :
            <input formControlName="name" placeholder="Course name"/>
        </label>
        <div *ngIf="addCourseForm.get('name')?.invalid && (addCourseForm.get('name')?.dirty || addCourseForm.get('name')?.touched)">
            Please provide a name.
        </div>
    </div>
    <div class="form-control">
        <label>
            Author :
            <input formControlName="author" placeholder="Author name"/>
            <div *ngIf="addCourseForm.get('author')?.invalid && (addCourseForm.get('author')?.dirty || addCourseForm.get('author')?.touched)">
                Please provide a Author's name.
            </div>
        </label>
    </div>
    <div class="form-control">
        <label>
            Description :
            <textarea formControlName="description" placeholder="Enter Description"></textarea>
        </label>
    </div>
    <div class="form-control">
        <label>
            Price :
            <input formControlName="price" placeholder="Price"/>
        </label>
    </div>
    <div>
        <button type="submit">Add Course</button>
    </div>
</form>